.service {
    width: 360px;
    height: 450px;
    background-color: rgb(245, 245, 255);
    border: 1px solid skyblue;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.service img {
    border-radius: 15px;
}